* {
    margin: 0;
    padding: 0;
}

.ui-tree {
    white-space: pre-line;
    width: 50%;
}

.each-subtree {
    margin-left: 10px;

    button {
        margin-left: 5px;
    }
}

.each-node {
    display: block;
}
