@import './variables.scss';
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $floral-white;
    padding: 50px;
    border-top: 10px solid $brown;
    position: relative;
    font-family: 'Inconsolata', monospace;

    pre {
        font-family: inherit;
    }
}

header {
    font-family: 'Righteous', cursive;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    .main-heading {
        color: $brown;
        font-size: 50px;
        font-weight: 300;
    }
}

.main-subheading {
    font-family: 'Righteous', cursive;
    color: black;
    font-size: 18px;
    font-weight: 100;
    color: $text-color;
}

.ui-tree {
    font-size: 16px;
    margin-top: 40px;
    white-space: pre-line;
    color: $purple;
    display: flex;
    justify-content: space-between;
}

.directory-tree {
    .each-subtree {
        &:first-child {
            margin-left: 0;
        }
        margin-left: 20px;

        button {
            margin-left: 5px;
        }
    }

    .each-node.moving {
        &, & + .each-subtree {
            pointer-events: none;
            opacity: 0.5;
            border: 1px dashed $brown;
        }
    }

    .each-node {
        margin-bottom: 10px;
        display: block;

        i {
            margin-right: 5px;
            color: $purple;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        p {
            color: $text-color;
            font-weight: normal;
            display: inline-block;
            margin-right: 5px;
            font-size: 16px;
        }

        form {
            display: inline-block;
        }

        input {
            width: 100%;
            font-family: inherit;
            border: none;
            background: transparent;
            font-size: 16px;
            outline: 0;
        }

        .plus-icon {
            color: rgba($brown, 0.2);
            &:hover {
                color: $brown;
            }
        }
        .cross-icon {
            color: rgba(red, 0.2);
            &:hover {
                color: rgba(red, 0.8);
            }
        }
        .icon-move {
            color: rgba($purple, 0.2);
            &:hover {
                color: rgba($purple, 0.8);
            }
        }
    }
}

.markdown-tree {
    min-width: 400px;
    padding: 40px;
    background: rgba($brown, 0.1);
    border-radius: 2px;
    color: $purple;
}

footer {
    position: absolute;
    bottom: -100px;
    font-size: 10px;
    color: gray;
    a {
        color: inherit;
    }
}
